<!DOCTYPE html>
<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<nav>
    <div class="row">
        <div class="col-md-2 title"><h1 class="text-center"><a href="{% url 'index' %}" class="title_text">Skill-up</a></h1></div>
        <div class="col-md-5 srch_form">
            <form class="form-inline">

                <input type="text" name="name" class="srch" placeholder="Search for courses here ...">
                <button class="contact_button">Send</button>
            </form>
        </div>
        <div class="col-md-5 text-right menu_items">
            <div class="toggle"><i class="fa fa-bars menu" aria-hidden="true"></i></div>
            <ul>
                <li><a href="{% url 'courses' %}">Browse Courses</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-12 banner">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card" style="width: 21rem;">
                    <img src="{{ enroll.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ enroll.name }}</h5>
                        <p class="card-text">{{ enroll.preview_text }}</p>
                        <p class="card-text">{{ enroll.level }}</p>
                        <a href="{% url 'enroll_confirm' enroll.id enroll.name enroll.level %}" class="btn btn-primary">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
