{% extends 'base.html' %}

{% block content %}

<nav>
    <div class="row">
        <div class="col-md-2 title"><h1 class="text-center"><a href="{% url 'home' %}" class="title_text">Skill-up</a></h1></div>

        <div class="col-md-7 offset-md-3 text-right menu_items">
            <div class="toggle"><i class="fa fa-bars menu" aria-hidden="true"></i></div>
            <ul>
                <li><a href="#">Welcome, {{ user.username }}</a></li>
                <li><a href="{% url 'courses' %}">Browse Courses</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-12 banner">
        <table class="table">

            <thead class="table_head">
            <tr>
                <th scope="col">My Dashboard</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for myCourse in myCourses %}
            <tr>
                <td>{{ myCourse.course_name }}</td>
                <td>{{ myCourse.level }}</td>
                <td><a class="btn table_head my_btn"
                                          href="{% url 'resume_course' myCourse.course_id %}">Resume course</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

    {% endblock %}
