<!DOCTYPE html>
<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<nav>
    <div class="row">
        <div class="col-md-2 title"><h1 class="text-center"><a href="{% url 'index' %}" class="title_text">Skill-up</a>
        </h1></div>
        <div class="col-md-7 offset-md-3 text-right menu_items">
            <div class="toggle"><i class="fa fa-bars menu" aria-hidden="true"></i></div>
            <ul>
                <li><a href="#">Welcome, {{ user.username }}</a></li>
                <li><a href="{% url 'courses' %}">Browse Courses</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-12 banner">
        <div class="row">
            {% for course in courses %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card" style="width: 21rem;">
                    <img src="{{ course.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
<!--                                        <p class="card-text">{{ course.subject }}</p>-->
                        <p class="card-text">{{ course.preview_text }}</p>
                        <p class="card-text">{{ course.level }}</p>
                        <a href="{% url 'enroll' course.id %}" class="btn btn-primary">Enroll</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
